In [2]:
from pathlib import Path
import csv

In [3]:
# Import csv file
filepath = Path("Resources/budget_data.csv")

In [4]:
print(filepath)

Resources\budget_data.csv

In [5]:
import pandas as pd
df = pd.read_csv(filepath)
df

      Date  Profit/Losses
0   Jan-10         867884
1   Feb-10         984655
2   Mar-10         322013
3   Apr-10         -69417
4   May-10         310503
..     ...            ...
81  Oct-16         102685
82  Nov-16         795914
83  Dec-16          60988
84  Jan-17         138230
85  Feb-17         671099

[86 rows x 2 columns]

In [6]:
# Define variables
total_months = 0
net_total = 0
average = 0
minimum = 0
maximum = 0

In [7]:
# Define variables
max_date = []
min_date = []

In [8]:
filepath

WindowsPath('Resources/budget_data.csv')

In [9]:
# Read csv file
with open(filepath, newline="") as budget_file:
    csvreader = csv.reader(budget_file,delimiter=",")
    header = next(csvreader)
    for row in csvreader:
        print(row)

['Jan-10', '867884']
['Feb-10', '984655']
['Mar-10', '322013']
['Apr-10', '-69417']
['May-10', '310503']
['Jun-10', '522857']
['Jul-10', '1033096']
['Aug-10', '604885']
['Sep-10', '-216386']
['Oct-10', '477532']
['Nov-10', '893810']
['Dec-10', '-80353']
['Jan-11', '779806']
['Feb-11', '-335203']
['Mar-11', '697845']
['Apr-11', '793163']
['May-11', '485070']
['Jun-11', '584122']
['Jul-11', '62729']
['Aug-11', '668179']
['Sep-11', '899906']
['Oct-11', '834719']
['Nov-11', '132003']
['Dec-11', '309978']
['Jan-12', '-755566']
['Feb-12', '1170593']
['Mar-12', '252788']
['Apr-12', '1151518']
['May-12', '817256']
['Jun-12', '570757']
['Jul-12', '506702']
['Aug-12', '-1022534']
['Sep-12', '475062']
['Oct-12', '779976']
['Nov-12', '144175']
['Dec-12', '542494']
['Jan-13', '359333']
['Feb-13', '321469']
['Mar-13', '67780']
['Apr-13', '471435']
['May-13', '565603']
['Jun-13', '872480']
['Jul-13', '789480']
['Aug-13', '999942']
['Sep-13', '-1196225']
['Oct-13', '268997']
['Nov-13', '-687986']
['Dec-13', '1150461']
['Jan-14', '682458']
['Feb-14', '617856']
['Mar-14', '824098']
['Apr-14', '581943']
['May-14', '132864']
['Jun-14', '448062']
['Jul-14', '689161']
['Aug-14', '800701']
['Sep-14', '1166643']
['Oct-14', '947333']
['Nov-14', '578668']
['Dec-14', '988505']
['Jan-15', '1139715']
['Feb-15', '1029471']
['Mar-15', '687533']
['Apr-15', '-524626']
['May-15', '158620']
['Jun-15', '87795']
['Jul-15', '423389']
['Aug-15', '840723']
['Sep-15', '568529']
['Oct-15', '332067']
['Nov-15', '989499']
['Dec-15', '778237']
['Jan-16', '650000']
['Feb-16', '-1100387']
['Mar-16', '-174946']
['Apr-16', '757143']
['May-16', '445709']
['Jun-16', '712961']
['Jul-16', '-1163797']
['Aug-16', '569899']
['Sep-16', '768450']
['Oct-16', '102685']
['Nov-16', '795914']
['Dec-16', '60988']
['Jan-17', '138230']
['Feb-17', '671099']

In [10]:
import pandas as pd
budget_data = pd.read_csv(filepath)

In [11]:
# To calculate total profit/loss
Profit_loss= df['Profit/Losses'].sum()

In [12]:
print("Total: $",Profit_loss)

Total: $ 38382578

In [13]:
# Loop through data
row_list = []
month = []
for index, row in df.iterrows():
    row_list.append(int(row[1]))
    month.append(row[0])

In [14]:
# To calculate total month
print("Total Month:", len(month))

Total Month: 86

In [15]:
# To calculate average change in Profit/loss
changes_in_revenue =[]
for i in range(1, len(row_list)):
 changes_in_revenue.append((int(row_list[i])- int(row_list[i-1])))
average = sum(changes_in_revenue)/len(changes_in_revenue)

In [16]:
print("Average Change: ${:.2f}".format(average))

Average Change: $-2315.12

In [17]:
# To calculate greatest increase in profit
profit_increase = max(changes_in_revenue)
print(f"Greatest Increase in Profits: {str(month[changes_in_revenue.index(max(changes_in_revenue))+1])} (${profit_increase})")

Greatest Increase in Profits: Feb-12 ($1926159)

In [18]:
# To calculate greatest decrease in profit
loss_increase = min(changes_in_revenue)
print(f"Greatest decrease in Losses: {str(month[changes_in_revenue.index(min(changes_in_revenue))+1])} (${loss_increase})" )

Greatest decrease in Losses: Sep-13 ($-2196167)

In [21]:
# Output results
final = open("textfile.txt", "w")
final.write(f"Financial Analysis \n")
final.write(f"---------------------------- \n")
final.write("Total Months: " + str(len(month)) + "\n")
final.write("Total: $"+ str(Profit_loss) + "\n")
final.write("Average Change: ${:.2f}".format(average) + "\n")
final.write(f"Greatest Increase in Profits: {str(month[changes_in_revenue.index(max(changes_in_revenue))+1])} (${profit_increase})\n")  
final.write(f"Greatest decrease in Losses: {str(month[changes_in_revenue.index(min(changes_in_revenue))+1])} (${loss_increase})\n")                                           
final.close()